<!DOCTYPE html>
<html>
    <header>
        <title>InternalLinker - generate internal docs links</title>
    </header>
<body>

<h1>InternalLinker</h1>

<form method="POST" action="" enctype="multipart/form-data">
    <p><label>Choose one or more markdown files</label><input type="file" name="file" multiple=""></p>
    <p><label>This works by default on keywords, as defined in your frontmatter. Enable topics too?</label><input type="checkbox" name="topics" /></p>
    <p><input type="submit" value="Submit"></p>
</form>

    <h2>Instructions</h2>
    <p>See README.md</p>

    <h2>Keywords</h2>
    <table>
        {% if linkOutput is defined %}
        <tr><th>URL</th><th>Keyword</th></tr>
            {%for key, value in linkOutput.items() %}
                {%for key, value in value.items() %}
                <tr>
                    <td> {{ key }} </td>
                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
        <tr>
            No keywords found
        </tr>
        {% endif %}
    </table>

    <h2>Duplicate Keywords</h2>
    <table>
        {% if duplicateKeywords is defined %}
            {%for duplicateKeyword in duplicateKeywords %}
                
                <tr>
                    <td style="background-color:red;"> {{ duplicateKeyword }} </td>
                </tr>

            {% endfor %}
        {% else %}
        <tr>
            No duplicates found
        </tr>
        {% endif %}
    </table>
</body>
</html>